DATABASE_URL="postgresql://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require"
PORT="3000"

JWT_SECRET="replace-me"
JWT_EXPIRES_IN="7d"

FRONTEND_URL="http://localhost:5173"
BACKEND_URL="http://localhost:3000"

VNPAY_TMN_CODE="tmncode-from-vnpay"
VNPAY_SECURE_SECRET="sandbox-secret-from-vnpay"
VNPAY_RETURN_URL="http://localhost:5173/payments/vnpay-return"
VNPAY_PAYMENT_EXPIRE_MINUTES="15"
VNPAY_PAYMENT_EXPIRATION_MS="900000"
VNPAY_PAYMENT_EXPIRATION_INTERVAL_MS="300000"
VNPAY_LOCALE="vn"
